<div class="container mt-3">
  <h3>All payments</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Class</th>
        <th scope="col">Date</th>
        <th scope="col">Total Price</th>
        <th scope="col">Payment Type</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Student Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let payment of paymentDetails; let i=index">
      <tr *ngIf="payment">
        <th scope="row">{{i+1}}</th>
        <td>{{ payment.lineItems ? payment.lineItems[0].description : '-'}}</td>
        <td>{{(payment.paymentDate ? payment.paymentDate : payment.createdAt) | date}}</td>
        <td>{{( payment.lineItems ? payment.lineItems[0].amount_total/100 : payment.amount) | currency}}</td>
        <td>{{ (payment.charges ? payment.charges.payment_method_details.type : payment.paymentGateway) | titlecase}}</td>
        <td>{{ payment.charges ? payment.charges.payment_method_details.card.brand : payment.paymentMethod}}<span *ngIf="type === 'stripe'">....{{payment.charges.payment_method_details.card.last4}}</span></td>
        <td>{{ payment.charges ? payment.charges.billing_details.name : payment.name }}</td>
        <td *ngIf="payment.charges"><a [href]="payment.charges.receipt_url" target="_blank">Receipt</a></td>
      </tr>
    </tbody>
  </table>
</div>