<div class="container mt-4">
    <div class="d-flex justify-content-between">
        <h3>Classes</h3>
        <button type="button" class="btn btn-outline-success" 
        (click)="navigateTo('payments-list')">Check Payments</button>
    </div>
    <ng-container *ngFor="let class of data; let i = index">
        <div class="d-flex p-3 border-bottom justify-content-between">
            <div class="d-flex">
                <img [src]="class.classImage" height="60" width="100" alt="img-{{i}}">
                <div class="ms-3">
                    <h4>{{class.className}}</h4>
                    <p class="mb-0">{{class.tutorName}}</p>
                </div>
            </div>
            <div>
                <span class="text-danger fw-semibold me-3">${{class.classFee}}</span>
                <span class="badge rounded-pill text-bg-danger pointer" 
                 (click)="checkOut(class._id)">BUY</span>
            </div>
        </div>
    </ng-container>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Gateway</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <google-pay-button
            environment="TEST"
            buttonType="buy"
            buttonColor="black"
            buttonSizeMode="fill"
            [paymentRequest]="paymentRequest"
            (loadpaymentdata)="onLoadPaymentData($event)"
            (error)="onError($event)"
            [paymentAuthorizedCallback]="onPaymentDataAuthorized"

        ></google-pay-button>
        <div class="modal-body d-flex">
            <div>
                <img [src]="'assets/logos/stripe.jpg'" alt="stripe" (click)="bookClass(classId, 'stripe')" [height]="75" [width]="120" class="pointer">
            </div>
            <div>
                <img [src]="'assets/logos/razorpay.jfif'" alt="razorpay" (click)="bookClass(classId, 'razorpay')" [height]="75" [width]="120" class="pointer ms-2">
            </div>
        </div>
      </div>
    </div>
</div>