<form class="container mt-5">
  <div class="mb-3">
      <label for="userName" class="form-label">Name</label>
      <input type="email" class="form-control" id="userName" placeholder="Enter Name" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" required>
  </div>
  <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email" [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}" required>
  </div>
  <div class="accordion">
      <div class="accordion-item">
        <input type="radio" name="stripe" value="stripe" id="stripe" class="accordion-radio" [(ngModel)]="selectedOption" [checked]="selectedOption === 'stripe'">
        <label for="stripe" class="accordion-title">Credit / Debit Card (Via Stripe)</label>
        <div class="accordion-content">
          <p>After clicking Continue, you will be redirected to Stripe Payment Gateway</p>
        </div>
      </div>
      <div class="accordion-item">
        <input type="radio" name="razorpayUPI" value="razorpayUPI" id="razorpayUPI" class="accordion-radio" [(ngModel)]="selectedOption" [checked]="selectedOption === 'razorpayUPI'">
        <label for="razorpayUPI" class="accordion-title">UPI / QR Code (Via Razorpay)</label>
        <div class="accordion-content">
          <div class="d-flex flex-column">
            <button *ngIf="!showQR" class="btn btn-outline-dark w-25" (click)="generateQR()" [disabled]="!userEmail || !userName">Generate QR Code</button>
            <p class="mb-0 mt-2" *ngIf="!showQR">On clicking the above button, the QR Code will be availabe for payments for only 2.5 minutes.</p>
            <img *ngIf="showQR" class="mt-2" [src]="'assets/images/qr-code.jpeg'" height="380" width="250" alt="qr-cpde">
            <span *ngIf="showQR" class="mt-2">Time Remaining: <span class="text-danger fw-semibold">{{ timerDisplay }}</span></span>
            <span *ngIf="showQR">Click on Done if payment is done.</span>
            <button *ngIf="showQR" class="btn btn-outline-success w-25" (click)="onSubmit()">Done</button>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <input type="radio" name="razorpayCard" value="razorpayCard" id="razorpayCard" class="accordion-radio" [(ngModel)]="selectedOption" [checked]="selectedOption === 'razorpay'">
        <label for="razorpayCard" class="accordion-title">Cards (Via Razorpay)</label>
        <div class="accordion-content">
          <p>After clicking Continue, you will be redirected to Razorpay Payment Gateway</p>
        </div>
      </div>
  </div>
  <button type="button" class="btn btn-primary btn-sm" (click)="onSubmit()" [disabled]="!userName || !userEmail">Continue</button>
</form>